.DS_Store
data/covid19-ct-scan-lesion-segmentation-dataset
data/covid19-ct-scan-lesion-segmentation-dataset.zip
data/DRIVE
data/ISIC
data/chase_db1
data/medical
data/animals
acm/Results
outputs/results/models/*
outputs/models/*
**/__pycache__/
