.DS_Store
data/*
data/covid19-ct-scan-lesion-segmentation-dataset
data/demo
data/covid19-ct-scan-lesion-segmentation-dataset.zip
data/DRIVE
data/ISIC
data/chase_db1
data/medical
data/animals
acm/Results
outputs/results/models/training/*
outputs/models/training/*
**/__pycache__/
